fastapi
pymongo
pydantic
hypercorn
typing
jsonpath-ng

# Opentelemetry:

opentelemetry-distro
opentelemetry-exporter-otlp
fastapi
uvicorn
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-jaeger
